* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	background-color: #000;
	color: #0fc;
	font-family: 'Jura', sans-serif;
	font-size: 1.3em;
}

input {
	border-radius: 5px;
	color: #0fc;
	border: 4px solid #086;
	background-color: #000;
	outline: none;
	padding: 0.2em;
	font-family: 'Jura', sans-serif;
	font-size: 1em;
	text-align: center;
	margin-bottom: 0.7em;
}

img {
	width: 2em;
}

.loading {
	font-size: 1.5em;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.loading .fa {
 	color: #fff;
	font-size: 2em;
}

.fa {
	color: #0da;
}

.fa:hover {
	color: #fff;
}

#canvasContainer, canvas {
	width: 100%;
	height: 100%;
}

.back {
	position: fixed;
	left: 0;
	top: 0;
	margin-left: 2%;
	margin-top: 2%;
	font-size: 2em;
	display: none;
}

.zoom-controls {
	position: fixed;
	right: 0;
	bottom: 0;
	margin-right: 2%;
	margin-bottom: 2%;
	font-size: 2em;
	color: #FFF;
}

.label {
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: 2em;
	padding: 2%;
}
.counter {
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: 1em;
	padding-left: 2%;
}

.info {
	position: fixed;
	top: 0;
	right: 0;
	font-size: 1em;
	padding: 4%;
}

.mobile-controls {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	font-size: 2em;
}

.search {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: -18em;
	left: 0;
	width: 2em;
	height: 15em;
	margin: 2%;
	padding: 2em;
	border: 5px double #0a7;
	border-radius: 20px;
	background-color: rgba(0, 32, 24, 0.5);
	background-image: url('/bg.gif');
	background-blend-mode: overlay;
	mix-blend-mode: color-dodge;
	-webkit-box-shadow: 0px 0px 75px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 75px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 75px 2px rgba(50,100,80,0.75);
}

.search span {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.search h2 {
	text-align: center;
	font-size: 1.2em;
	font-weight: normal;
	color: #0a7;
	margin-bottom: -1em;
	padding: 1.5em 0 0 0;
}

.hide-mobile {
	display: none;
}

input[type=range]{
	-webkit-appearance: none;
	border: 2px solid #0fc;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	background: transparent;
	border: none;
	border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 12px;
	width: 12px;
	background: #0fc;
	margin-top: -4px;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: black;
}
